PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://mongodb:27017/agriassist
JWT_SECRET=thisisasupersecretkeythatshouldbelongandunguessable123!
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
GEMINI_API_KEY=AIzaSyB5Wi9TImHfp2I5O0q2g8vM8qMIoLYzsSs
REDIS_URL=redis://redis:6379
